.section.section--sound(data-scene="5")
	.section__inner.container
		.section__text
			.section__title Легендарный
				br
				| звук JBL
		.section__products
			.products__tabs
				+productTab(100, "", "live100")
				+productTab(200, "with-bt", "live200bt")
				+productTab(400, "with-bt", "live400bt")
				+productTab(500, "with-bt", "live500bt")
				+productTab(650, "with-bt active", "live650bt")
				.products__tabs-item.m-visible

